// Font families
// font-family: "New Amsterdam", sans-serif
// font-family: "Open Sans", sans-serif

@use 'sass:color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Drop CSS Vars for SCSS ones
$dark: #1f2828;
$light: #cca46b;
$light-hover: #d89b57;
$green: #445241;
$white: #f3f3f3;
$dark-green: #29444b;
$blue-green: #41636e;
$dark-blue: 68, 120, 185;
$blur: 5px;

$banner-font: "New Amsterdam", sans-serif;
$body-font: "Oswald", sans-serif;

// Halloween overrides
$dark: #2c236f;
$light: color.adjust(#00bd72, $lightness: -5%);
$light-hover: color.adjust(#595082, $lightness: 10%);
$light-hover: #00bd72;


html,
body {
  width: 100%;
  height: 100%;

}

#app {
  width: 100%;
  min-height: 100%;
  //background: $dark) url('/bg.jpg') center / cover;
  // Halloween
  background: $dark url('/halloween-bg.jpg') center / cover;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, $dark, #000);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.main {
  margin: auto;
  width: 100%;
}

.header {
  width: 1280px;
  max-width: 100%;
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  &__logo {
    $size: 120px;
    width: $size;
    height: $size;

    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $light;
    border: 3px solid $light-hover;

    animation: glow 2s 0s alternate infinite;
  }

  &__title {
    padding: 2px;
    color: $white;
    font-family: $banner-font;
    font-size: 2rem;
  }
}

.body {
  padding: 1rem;
  width: 1280px;
  max-width: 100%;
  font-family: $body-font;
  font-size: 1.3rem;
  color: $white;
  text-align: center;
  margin: 0 auto 1rem;
}

.features {
  width: 1280px;
  max-width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-family: $body-font;
  margin: 0 auto 1rem;

  .feature {
    border-radius: 4px;
    backdrop-filter: blur($blur);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    min-height: 100px;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__icon {
      $size: 36px;
      width: $size;
      height: $size;

      background: $light;
      color: $white;
      fill: $white;
      padding: 6px;

      border-radius: 32px;
      margin-bottom: 8px;
    }

    &__title {
      font-size: 1.4rem;
    }

    &__content {
      font-size: 1.1rem;
    }
  }

  @media(max-width: 850px) {
    grid-template-columns: 1fr;
  }
}

.banner {
  font-family: $banner-font;
  background: $light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

  .inner {
    padding: 10px;
    margin: 0 auto;
    color: $white;
    font-size: 1.4rem;

  }
}

.btn-hold {
  width: 1280px;
  max-width: 100%;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  background: $light;
  color: $white;
  text-transform: uppercase;

  padding: 0.8rem 2.4rem;

  font-family: $body-font;
  font-size: 1.3rem;
  text-decoration: none;

  border-radius: 4px;

  transition: background 0.2s ease;

  &:hover {
    background: $light-hover;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 0 3px rgba($light-hover, 0);
  }

  to {

    box-shadow: 0 0 6px 3px rgba($light-hover, 1);
  }
}
